.carta {
  margin: 5px;
  background-color: burlywood;
}

.fila {
  height: 25vh;
  padding: 5px;
}

.rojo {
  background-color: red;
}
.azul {
  background-color: blue;
}
.amarillo {
  background-color: yellow;
}
.verde {
  background-color: green;
}
.naranja {
  background-color: orange;
}
.negro {
  background-color: black;
}

.bloquear {
  pointer-events: none;
}
